## CER
- https://maxbachmann.github.io/Levenshtein/levenshtein.html#distance
- 원리 이해 : https://leesumin.tistory.com/79

In [7]:
#!pip install levenshtein

Collecting levenshtein
  Downloading Levenshtein-0.21.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (172 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 172.8/172.8 kB 6.2 MB/s eta 0:00:00
Collecting rapidfuzz<4.0.0,>=2.3.0 (from levenshtein)
  Downloading rapidfuzz-3.1.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 11.3 MB/s eta 0:00:0031m11.8 MB/s eta 0:00:01
Installing collected packages: rapidfuzz, levenshtein
Successfully installed levenshtein-0.21.1 rapidfuzz-3.1.2

[notice] A new release of pip is available: 23.1.2 -> 23.2
[notice] To update, run: pip install --upgrade pip

In [11]:
from Levenshtein import distance

In [1]:
s1 = '123abc'
s2 = '13abcd'

In [9]:
distance(s1, s2)

2

In [12]:
import pandas as pd

In [31]:
path = './STT_CER.xlsx'
df = pd.read_excel(path, sheet_name=0, header=0, index_col=0)
df

                           input_speech                              output
Idx
1                         안녕하세요. 반갑습니다.                       안녕하세요. 반갑습니다.
2                        오늘 날씨가 정말 좋네요.                      오늘 날씨가 정말 좋네요.
3                       가을은 단풍이 아름답습니다.                     가을은 단풍이 아름답습니다.
4                        저는 한국에 살고 있어요.                      저는 한국에 살고 있어요.
5                       맛있는 음식을 먹으러 가요.                     맛있는 음식을 먹으러 가요.
..                                  ...                                 ...
96                 오늘 나 저녁에 친구들이랑 약속있어.                오늘 나 저녁에 친구들이랑 약속있어?
97   어제 밤에 무서운 영화봤는데 꿈에서 귀신나와서 너무 무섭더라.  어제 밤에 무서운 영화봤는데 꿈에서 귀신나와서 너무 무섭더라.
98     저번주에 가족들이랑 시골집 다녀왔는데 풍경 너무 이쁘더라.    저번주에 가족들이랑 시골집 다녀왔는데 풍경 너무 예쁘더라.
99    최근에 인상깊게 읽은 책이 있어서 친구들한테 다 추천해줬어.   최근에 인상깊게 읽은 책이 있어서 친구들한테 다 추천해줬어.
100                    공감되는 내용이 진짜 많더라.                    공감되는 내용이 진짜 많더라.

[100 rows x 2 columns]

In [32]:
input, output = list(df["input_speech"]), list(df["output"])
print("------ Original Sentences ------")
print(input[:10])
print()
print("------ Output Sentences ------")
print(output[:10])

------ Original Sentences ------
['안녕하세요. 반갑습니다.', '오늘 날씨가 정말 좋네요.', '가을은 단풍이 아름답습니다.', '저는 한국에 살고 있어요.', '맛있는 음식을 먹으러 가요.', '여행을 가고 싶어요.', '도서관에서 책을 빌렸어요.', '학교에서 친구들을 만나요.', '새로운 언어를 배우는 것은 재미있어요.', '스포츠를 즐겨봅시다.']

------ Output Sentences ------
['안녕하세요. 반갑습니다.', '오늘 날씨가 정말 좋네요.', '가을은 단풍이 아름답습니다.', '저는 한국에 살고 있어요.', '맛있는 음식을 먹으러 가요.', '여행을 가고 싶어요.', '도서관에서 책을 빌렸어요.', '학교에서 친구들을 만나요.', '새로운 언어를 배우는 것은 재미있어요.', '스포츠를 즐겨 봅시다.']

In [33]:
CER = []
for i in range(len(input)):
    n = len(output[i])
    score = distance(input[i].replace(" ", ''), output[i].replace(" ", ''))
    score = round(score/n, 2)
    CER.append(score)

CER[:10]

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [34]:
df["CER"]=CER
df

,input_speech,output,CER
Idx,,,
1,안녕하세요. 반갑습니다.,안녕하세요. 반갑습니다.,0.00
2,오늘 날씨가 정말 좋네요.,오늘 날씨가 정말 좋네요.,0.00
3,가을은 단풍이 아름답습니다.,가을은 단풍이 아름답습니다.,0.00
4,저는 한국에 살고 있어요.,저는 한국에 살고 있어요.,0.00
5,맛있는 음식을 먹으러 가요.,맛있는 음식을 먹으러 가요.,0.00
...,...,...,...
96,오늘 나 저녁에 친구들이랑 약속있어.,오늘 나 저녁에 친구들이랑 약속있어?,0.05
97,어제 밤에 무서운 영화봤는데 꿈에서 귀신나와서 너무 무섭더라.,어제 밤에 무서운 영화봤는데 꿈에서 귀신나와서 너무 무섭더라.,0.00
98,저번주에 가족들이랑 시골집 다녀왔는데 풍경 너무 이쁘더라.,저번주에 가족들이랑 시골집 다녀왔는데 풍경 너무 예쁘더라.,0.03
99,최근에 인상깊게 읽은 책이 있어서 친구들한테 다 추천해줬어.,최근에 인상깊게 읽은 책이 있어서 친구들한테 다 추천해줬어.,0.00
100,공감되는 내용이 진짜 많더라.,공감되는 내용이 진짜 많더라.,0.00

In [35]:
df.to_excel('result.xlsx')